In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#creating paths across operating systems
breed_info_path = os.path.join("Resources", "AKC_Breed_Info.csv")
dog_intelligence_path = os.path.join("Resources", "dog_intelligence.csv")

In [3]:
#file encoding is ANSI
breed_info_df = pd.read_csv(breed_info_path, encoding="ANSI")
breed_info_df.head()

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,Akita,26,28,80,120
1,Anatolian Sheepdog,27,29,100,150
2,Bernese Mountain Dog,23,27,85,110
3,Bloodhound,24,26,80,120
4,Borzoi,26,28,70,100

In [4]:
#file encoding is default UTF-8
dog_intelligence_df = pd.read_csv(dog_intelligence_path)
dog_intelligence_df.head()

               Breed  Classification obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  95%           1           4
1             Poodle  Brightest Dogs  95%           1           4
2    German Shepherd  Brightest Dogs  95%           1           4
3   Golden Retriever  Brightest Dogs  95%           1           4
4  Doberman Pinscher  Brightest Dogs  95%           1           4

In [5]:
dog_intelligence_df.tail()

,Breed,Classification,obey,reps_lower,reps_upper
131,Borzoi,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
132,Chow Chow,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
133,Bulldog,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
134,Basenji,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100

In [6]:
dog_intelligence_df.dtypes

Breed             object
Classification    object
obey              object
reps_lower         int64
reps_upper         int64
dtype: object

In [7]:
dog_intelligence_df.count()

Breed             136
Classification    136
obey              125
reps_lower        136
reps_upper        136
dtype: int64

In [8]:
#according to source of dog intelligence data: Lowest Degree of Working/Obedience Intelligence Understanding of new commands: 80 to 100 repetitions or more.
#Obey first command: 25% of the time or worse. -> Updating n/a to 0%
dog_intelligence_df["obey"] = dog_intelligence_df["obey"].fillna("0%")
dog_intelligence_df.tail()

,Breed,Classification,obey,reps_lower,reps_upper
131,Borzoi,Lowest Degree of Working/Obedience Intelligence,0%,81,100
132,Chow Chow,Lowest Degree of Working/Obedience Intelligence,0%,81,100
133,Bulldog,Lowest Degree of Working/Obedience Intelligence,0%,81,100
134,Basenji,Lowest Degree of Working/Obedience Intelligence,0%,81,100
135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,0%,81,100

In [9]:
dog_intelligence_df["obey"] = dog_intelligence_df["obey"].map(lambda x: x.rstrip("%"))
dog_intelligence_df.head()

               Breed  Classification obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs   95           1           4
1             Poodle  Brightest Dogs   95           1           4
2    German Shepherd  Brightest Dogs   95           1           4
3   Golden Retriever  Brightest Dogs   95           1           4
4  Doberman Pinscher  Brightest Dogs   95           1           4

In [10]:
#convert type to float now that % is removed from string
dog_intelligence_df["obey"] = dog_intelligence_df["obey"].astype(float)
dog_intelligence_df.dtypes

Breed              object
Classification     object
obey              float64
reps_lower          int64
reps_upper          int64
dtype: object

In [11]:
#converting to decimal
dog_intelligence_df["obey"] = dog_intelligence_df["obey"].map(lambda x: x/100)
dog_intelligence_df.head()

               Breed  Classification  obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  0.95           1           4
1             Poodle  Brightest Dogs  0.95           1           4
2    German Shepherd  Brightest Dogs  0.95           1           4
3   Golden Retriever  Brightest Dogs  0.95           1           4
4  Doberman Pinscher  Brightest Dogs  0.95           1           4

In [12]:
#updated count
dog_intelligence_df.count()

Breed             136
Classification    136
obey              136
reps_lower        136
reps_upper        136
dtype: int64

In [13]:
breed_info_df["Breed"].unique()

array(['Akita', 'Anatolian Sheepdog', 'Bernese Mountain Dog',
       'Bloodhound', 'Borzoi', 'Bullmastiff', 'Great Dane',
       'Great Pyrenees', 'Great Swiss Mountain Dog', 'Irish Wolfhound',
       'Kuvasz', 'Mastiff', 'Neopolitan Mastiff', 'Newfoundland',
       'Otter Hound', 'Rottweiler', 'Saint Bernard', 'Afghan Hound',
       'Alaskan Malamute', 'American Foxhound', 'Beauceron',
       'Belgian Malinois', 'Belgian Sheepdog', 'Belgian Tervuren',
       'Black And Tan Coonhound', 'Black Russian Terrier',
       'Bouvier Des Flandres', 'Boxer', 'Briard',
       'Chesapeake Bay Retriever', 'Clumber Spaniel',
       'Collie (Rough) & (Smooth)', 'Curly Coated Retriever',
       'Doberman Pinscher', 'English Foxhound', 'English Setter',
       'German Shepherd Dog', 'German Shorthaired Pointer',
       'German Wirehaired Pointer', 'Giant Schnauzer', 'Golden Retriever',
       'Gordon Setter', 'Greyhound', 'Irish Setter', 'Komondor',
       'Labrador Retriever', 'Old English Sheepdog (Bobtail)',
       'Poodle Standard', 'Rhodesian Ridgeback', 'Scottish Deerhound',
       'Spinone Italiano', 'Tibetan Mastiff', 'Weimaraner',
       'Airdale Terrier', 'American Staffordshire Terrier',
       'American Water Spaniel', 'Australian Cattle Dog',
       'Australian Shepherd', 'Basset Hound', 'Bearded Collie',
       'Border Collie', 'Brittany', 'Bull Dog', 'Bull Terrier',
       'Canaan Dog', 'Chinese Shar Pei', 'Chow Chow',
       'Cocker Spaniel-American', 'Cocker Spaniel-English', 'Dalmatian',
       'English Springer Spaniel', 'Field Spaniel',
       'Flat Coated Retriever', 'Finnish Spitz', 'Harrier',
       'Ibizan Hound', 'Irish Terrier', 'Irish Water Spaniel', 'Keeshond',
       'Kerry Blue Terrier', 'Norwegian Elkhound',
       'Nova Scotia Duck Tolling Retriever',
       'Petit Basset Griffon Vendeen', 'Pharaoh Hound', 'Plott Hound',
       'Pointer', 'Polish Lowland Sheepdog', 'Portuguese Water Dog',
       'Redbone Coonhound', 'Saluki', 'Samoyed', 'Siberian Husky',
       'Soft-Coated Wheaten Terrier', 'Staffordshire Bull Terrier',
       'Standard Schnauzer', 'Sussex Spaniel', 'Vizsla',
       'Welsh Springer Spaniel', 'Wirehaired Pointing Griffon',
       'American Eskimo', 'Australian Terrier', 'Basenji', 'Beagle',
       'Bedlington Terrier', 'Bichon Frise', 'Border Terrier',
       'Boston Terrier', 'Brussels Griffon', 'Cairn Terrier',
       'Cardigan Welsh Corgi', 'Cavalier King Charles Spaniel',
       'Coton de Tulear', 'Dachshund', 'Dandie Dinmont Terrier',
       'English Toy Spaniel', 'Fox Terrier ‰ÛÒ Smooth',
       'Fox Terrier ‰ÛÒ Wirehair', 'French Bulldog', 'German Pinscher',
       'Glen Imaal Terrier', 'Lakeland Terrier',
       'Manchester Terrier (Standard)', 'Poodle Miniature', 'Pug', 'Puli',
       'Schipperke', 'Scottish Terrier', 'Sealyham Terrier',
       'Shetland Sheepdog (Sheltie)', 'Shiba Inu', 'Shih Tzu',
       'Silky Terrier', 'Skye Terrier', 'Tibetan Spaniel',
       'Tibetan Terrier', 'Welsh Terrier', 'West Highland White Terrier',
       'Whippet', 'Affenpinscher', 'Chihuahua', 'Chinese Crested',
       'Italian Greyhound', 'Japanese Chin', 'Maltese',
       'Manchester Terrier (Toy)', 'Papillon', 'Pomeranian', 'Poodle Toy',
       'Toy Fox Terrier', 'Yorkshire Terrier'], dtype=object)

In [14]:
dog_intelligence_df["Breed"].unique()

array(['Border Collie', 'Poodle', 'German Shepherd', 'Golden Retriever',
       'Doberman Pinscher', 'Shetland Sheepdog', 'Labrador Retriever',
       'Papillon', 'Rottweiler', 'Australian Cattle Dog',
       'Pembroke Welsh Corgi', 'Miniature Schnauzer',
       'English Springer Spaniel', 'Belgian Shepherd Dog (Tervuren)',
       'Schipperke', 'Belgian Sheepdog', 'Collie', 'Keeshond',
       'German Shorthaired Pointer', 'Flat-Coated Retriever',
       'English Cocker Spaniel', 'Standard Schnauzer', 'Brittany',
       'Cocker Spaniel', 'Weimaraner', 'Belgian Malinois',
       'Bernese Mountain Dog', 'Pomeranian', 'Irish Water Spaniel',
       'Vizsla', 'Cardigan Welsh Corgi', 'Chesapeake Bay Retriever',
       'Puli', 'Yorkshire Terrier', 'Giant Schnauzer',
       'Portuguese Water Dog', 'Airedale Terrier', 'Bouvier des Flandres',
       'Border Terrier', 'Briard', 'Welsh Springer Spaniel',
       'Manchester Terrier', 'Samoyed', 'Field Spaniel', 'Newfoundland',
       'Australian Terrier', 'American Staffordshire Terrier',
       'Gordon Setter', 'Bearded Collie', 'Cairn Terrier',
       'Kerry Blue Terrier', 'Irish Setter', 'Norwegian Elkhound',
       'Affenpinscher', 'Australian Silky Terrier', 'Miniature Pinscher',
       'English Setter', 'Pharaoh Hound', 'Clumber Spaniel',
       'Norwich Terrier', 'Dalmatian', 'Soft-coated Wheaten Terrier',
       'Bedlington Terrier', 'Fox Terrier (Smooth)',
       'Curly Coated Retriever', 'Irish Wolfhound', 'Kuvasz',
       'Australian Shepherd', 'Saluki', 'Finnish Spitz', 'Pointer',
       'Cavalier King Charles Spaniel', 'German Wirehaired Pointer',
       'Black and Tan Coonhound', 'American Water Spaniel',
       'Siberian Husky', 'Bichon Frise', 'King Charles Spaniel',
       'Tibetan Spaniel', 'English Foxhound', 'Otterhound',
       'Jack Russell terrier', 'American Foxhound', 'Greyhound',
       'Wirehaired Pointing Griffon', 'West Highland White Terrier',
       'Havanese', 'Scottish Deerhound', 'Boxer', 'Great Dane',
       'Dachshund', 'Shiba Inu', 'Staffordshire Bull Terrier',
       'Alaskan Malamute', 'Whippet', 'Chinese Shar Pei',
       'Wire Fox Terrier', 'Rhodesian Ridgeback', 'Ibizan Hound',
       'Welsh Terrier', 'Irish Terrier', 'Boston Terrier', 'Akita',
       'Skye Terrier', 'Norfolk Terrier', 'Sealyham Terrier', 'Pug',
       'French Bulldog', 'Griffon Bruxellois', 'Maltese',
       'Italian Greyhound', 'Chinese Crested', 'Dandie Dinmont Terrier',
       'Petit Basset Griffon Vend̩en', 'Tibetan Terrier', 'Japanese Chin',
       'Lakeland Terrier', 'Old English Sheepdog', 'Great Pyrenees',
       'Scottish Terrier', 'Saint Bernard', 'Bull Terrier', 'Chihuahua',
       'Lhasa Apso', 'Bullmastiff', 'Shih Tzu', 'Basset Hound', 'Mastiff',
       'Beagle', 'Pekingese', 'Bloodhound', 'Borzoi', 'Chow Chow',
       'Bulldog', 'Basenji', 'Afghan Hound'], dtype=object)

In [15]:
print(breed_info_df.iloc[116, 0])
print(breed_info_df.iloc[115, 0])

Fox Terrier ‰ÛÒ Wirehair
Fox Terrier ‰ÛÒ Smooth

In [16]:
#not on size df:
#Havanese, jack russel, lhasa apso, miniature pinscher, miniature schnauzer, norfolk terrier, norwich terrier, pekingnese, pembroke welsh corgi
breed_info_df["Breed"] = breed_info_df["Breed"].replace({"Airdale Terrier":"Airedale Terrier",
                                                        "Silky Terrier":"Australian Silky Terrier",
                                                        "Bull Dog":"Bulldog",
                                                        "Cocker Spaniel-American": "American Cocker Spaniel",
                                                        "Cocker Spaniel-English":"English Cocker Spaniel",
                                                        "Collie (Rough) & (Smooth)":"Collie",
                                                        "Fox Terrier ‰ÛÒ Wirehair":"Wire Fox Terrier",
                                                        "Fox Terrier ‰ÛÒ Smooth":"Smooth Fox Terrier",
                                                        "German Shepherd Dog":"German Shepherd",
                                                        "Cavalier King Charles Spaniel":"King Charles Spaniel",
                                                        "Old English Sheepdog (Bobtail)":"Old English Sheepdog",
                                                        "Otter Hound":"Otterhound",
                                                        "Shetland Sheepdog (Sheltie)":"Shetland Sheepdog",
                                                        "Manchester Terrier (Standard)":"Manchester Terrier Standard"})
dog_intelligence_df["Breed"] = dog_intelligence_df["Breed"].replace({"Belgian Shepherd Dog (Tervuren)": "Belgian Tervuren",
                                                                    "Cocker Spaniel":"American Cocker Spaniel",
                                                                    "Flat-Coated Retriever":"Flat Coated Retriever",
                                                                    "Fox Terrier (Smooth)":"Smooth Fox Terrier",
                                                                    "Griffon Bruxellois":"Brussels Griffon",
                                                                    "Petit Basset Griffon Vend̩en":"Petit Basset Griffon Vend̩een",
                                                                    "Manchester Terrier":"Manchester Terrier Standard",
                                                                    "Poodle":"Poodle Standard"})

In [17]:
dog_intelligence_df = dog_intelligence_df.set_index("Breed")
dog_intelligence_df.head()

                   Classification  obey  reps_lower  reps_upper
Breed
Border Collie      Brightest Dogs  0.95           1           4
Poodle Standard    Brightest Dogs  0.95           1           4
German Shepherd    Brightest Dogs  0.95           1           4
Golden Retriever   Brightest Dogs  0.95           1           4
Doberman Pinscher  Brightest Dogs  0.95           1           4

In [18]:
#dropping dogs with no sizes
dog_intelligence_df = dog_intelligence_df.drop(["Havanese","Jack Russell terrier", "Lhasa Apso", "Miniature Pinscher", "Miniature Schnauzer", "Norfolk Terrier",
                       "Norwich Terrier", "Pekingese", "Pembroke Welsh Corgi"])
dog_intelligence_df.head()

                   Classification  obey  reps_lower  reps_upper
Breed
Border Collie      Brightest Dogs  0.95           1           4
Poodle Standard    Brightest Dogs  0.95           1           4
German Shepherd    Brightest Dogs  0.95           1           4
Golden Retriever   Brightest Dogs  0.95           1           4
Doberman Pinscher  Brightest Dogs  0.95           1           4

In [19]:
dog_intelligence_df = dog_intelligence_df.reset_index()
dog_intelligence_df.head()

               Breed  Classification  obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  0.95           1           4
1    Poodle Standard  Brightest Dogs  0.95           1           4
2    German Shepherd  Brightest Dogs  0.95           1           4
3   Golden Retriever  Brightest Dogs  0.95           1           4
4  Doberman Pinscher  Brightest Dogs  0.95           1           4

In [20]:
breed_info_df.dtypes

Breed                 object
height_low_inches     object
height_high_inches    object
weight_low_lbs        object
weight_high_lbs       object
dtype: object

In [21]:
breed_info_df.count()

Breed                 150
height_low_inches     150
height_high_inches    150
weight_low_lbs        150
weight_high_lbs       150
dtype: int64

In [22]:
breed_info_df["height_low_inches"].value_counts()

10           14
22           12
15            9
23            9
17            8
19            8
20            8
25            8
21            8
18            7
13            7
24            6
12            5
14            5
8             5
27            4
26            4
16            4
9             4
11            3
28            3
7             2
32            1
na            1
6             1
9.5           1
26.5          1
not found     1
48            1
Name: height_low_inches, dtype: int64

In [23]:
#converting column types to numeric(converting non number values (na, not found) to NaN)
breed_info_df["height_low_inches"]=pd.to_numeric(breed_info_df["height_low_inches"], errors="coerce")
breed_info_df["height_high_inches"]=pd.to_numeric(breed_info_df["height_high_inches"], errors="coerce")
breed_info_df["weight_low_lbs"]=pd.to_numeric(breed_info_df["weight_low_lbs"], errors="coerce")
breed_info_df["weight_high_lbs"]=pd.to_numeric(breed_info_df["weight_high_lbs"], errors="coerce")

In [24]:
breed_info_df.dtypes

Breed                  object
height_low_inches     float64
height_high_inches    float64
weight_low_lbs        float64
weight_high_lbs       float64
dtype: object

In [25]:
breed_info_df = breed_info_df.dropna(how="any")

In [26]:
breed_info_df.count()

Breed                 148
height_low_inches     148
height_high_inches    148
weight_low_lbs        148
weight_high_lbs       148
dtype: int64

In [27]:
height_cols = breed_info_df.loc[:, "height_low_inches":"height_high_inches"]
breed_info_df["average_height_inches"] = height_cols.mean(axis=1)
weight_cols = breed_info_df.loc[:, "weight_low_lbs":"weight_high_lbs"]
breed_info_df["average_weight_lbs"] = weight_cols.mean(axis=1)
breed_info_df.head()

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,average_height_inches,average_weight_lbs
0,Akita,26.0,28.0,80.0,120.0,27.0,100.0
1,Anatolian Sheepdog,27.0,29.0,100.0,150.0,28.0,125.0
2,Bernese Mountain Dog,23.0,27.0,85.0,110.0,25.0,97.5
3,Bloodhound,24.0,26.0,80.0,120.0,25.0,100.0
4,Borzoi,26.0,28.0,70.0,100.0,27.0,85.0

In [28]:
breed_info_df = breed_info_df.rename(columns={"Breed":"breed"})
breed_info_df.head()

,breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,average_height_inches,average_weight_lbs
0,Akita,26.0,28.0,80.0,120.0,27.0,100.0
1,Anatolian Sheepdog,27.0,29.0,100.0,150.0,28.0,125.0
2,Bernese Mountain Dog,23.0,27.0,85.0,110.0,25.0,97.5
3,Bloodhound,24.0,26.0,80.0,120.0,25.0,100.0
4,Borzoi,26.0,28.0,70.0,100.0,27.0,85.0

In [29]:
dog_intelligence_df = dog_intelligence_df.rename(columns={"Breed":"breed", "Classification":"classification"})
dog_intelligence_df.head()

               breed  classification  obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  0.95           1           4
1    Poodle Standard  Brightest Dogs  0.95           1           4
2    German Shepherd  Brightest Dogs  0.95           1           4
3   Golden Retriever  Brightest Dogs  0.95           1           4
4  Doberman Pinscher  Brightest Dogs  0.95           1           4

In [30]:
db_conn_string = "<username>:<password>@localhost:5432/<database>"
engine = create_engine(f'postgresql://{db_conn_string}')

In [1]:
#engine.table_names()

In [31]:
breed_info_df.to_sql(name="breed_info", con=engine, if_exists="append", index=False)
dog_intelligence_df.to_sql(name="dog_intelligence", con=engine, if_exists="append", index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "breed_info_pkey"
DETAIL:  Key (breed)=(Akita) already exists.

[SQL: INSERT INTO breed_info (breed, height_low_inches, height_high_inches, weight_low_lbs, weight_high_lbs, average_height_inches, average_weight_lbs) VALUES (%(breed)s, %(height_low_inches)s, %(height_high_inches)s, %(weight_low_lbs)s, %(weight_high_lbs)s, %(average_height_inches)s, %(average_weight_lbs)s)]
[parameters: ({'breed': 'Akita', 'height_low_inches': 26.0, 'height_high_inches': 28.0, 'weight_low_lbs': 80.0, 'weight_high_lbs': 120.0, 'average_height_inches': 27.0, 'average_weight_lbs': 100.0}, {'breed': 'Anatolian Sheepdog', 'height_low_inches': 27.0, 'height_high_inches': 29.0, 'weight_low_lbs': 100.0, 'weight_high_lbs': 150.0, 'average_height_inches': 28.0, 'average_weight_lbs': 125.0}, {'breed': 'Bernese Mountain Dog', 'height_low_inches': 23.0, 'height_high_inches': 27.0, 'weight_low_lbs': 85.0, 'weight_high_lbs': 110.0, 'average_height_inches': 25.0, 'average_weight_lbs': 97.5}, {'breed': 'Bloodhound', 'height_low_inches': 24.0, 'height_high_inches': 26.0, 'weight_low_lbs': 80.0, 'weight_high_lbs': 120.0, 'average_height_inches': 25.0, 'average_weight_lbs': 100.0}, {'breed': 'Borzoi', 'height_low_inches': 26.0, 'height_high_inches': 28.0, 'weight_low_lbs': 70.0, 'weight_high_lbs': 100.0, 'average_height_inches': 27.0, 'average_weight_lbs': 85.0}, {'breed': 'Bullmastiff', 'height_low_inches': 25.0, 'height_high_inches': 27.0, 'weight_low_lbs': 100.0, 'weight_high_lbs': 130.0, 'average_height_inches': 26.0, 'average_weight_lbs': 115.0}, {'breed': 'Great Dane', 'height_low_inches': 32.0, 'height_high_inches': 32.0, 'weight_low_lbs': 120.0, 'weight_high_lbs': 160.0, 'average_height_inches': 32.0, 'average_weight_lbs': 140.0}, {'breed': 'Great Pyrenees', 'height_low_inches': 27.0, 'height_high_inches': 32.0, 'weight_low_lbs': 95.0, 'weight_high_lbs': 120.0, 'average_height_inches': 29.5, 'average_weight_lbs': 107.5}  ... displaying 10 of 148 total bound parameter sets ...  {'breed': 'Toy Fox Terrier', 'height_low_inches': 10.0, 'height_high_inches': 10.0, 'weight_low_lbs': 4.0, 'weight_high_lbs': 7.0, 'average_height_inches': 10.0, 'average_weight_lbs': 5.5}, {'breed': 'Yorkshire Terrier', 'height_low_inches': 8.0, 'height_high_inches': 8.0, 'weight_low_lbs': 3.0, 'weight_high_lbs': 7.0, 'average_height_inches': 8.0, 'average_weight_lbs': 5.0})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [32]:
#confirm data has been read
pd.read_sql_query("select * from breed_info", con=engine).head()

,breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,average_height_inches,average_weight_lbs
0,Akita,26,28,80,120,27,100
1,Anatolian Sheepdog,27,29,100,150,28,125
2,Bernese Mountain Dog,23,27,85,110,25,98
3,Bloodhound,24,26,80,120,25,100
4,Borzoi,26,28,70,100,27,85

In [33]:
#confirm data has been read
pd.read_sql_query("select * from dog_intelligence", con=engine).head()

               breed  classification  obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  0.95           1           4
1    Poodle Standard  Brightest Dogs  0.95           1           4
2    German Shepherd  Brightest Dogs  0.95           1           4
3   Golden Retriever  Brightest Dogs  0.95           1           4
4  Doberman Pinscher  Brightest Dogs  0.95           1           4

In [34]:
#perform sql join
pd.read_sql_query("select * from dog_intelligence inner join breed_info on dog_intelligence.breed=breed_info.breed", con=engine)

,breed,classification,obey,reps_lower,reps_upper,breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,average_height_inches,average_weight_lbs
0,Border Collie,Brightest Dogs,0.95,1,4,Border Collie,19,21,40,40,20,40
1,Poodle Standard,Brightest Dogs,0.95,1,4,Poodle Standard,15,25,45,45,20,45
2,German Shepherd,Brightest Dogs,0.95,1,4,German Shepherd,22,26,75,90,24,83
3,Golden Retriever,Brightest Dogs,0.95,1,4,Golden Retriever,21,24,55,75,23,65
4,Doberman Pinscher,Brightest Dogs,0.95,1,4,Doberman Pinscher,26,28,60,100,27,80
...,...,...,...,...,...,...,...,...,...,...,...,...
116,Borzoi,Lowest Degree of Working/Obedience Intelligence,0.00,81,100,Borzoi,26,28,70,100,27,85
117,Chow Chow,Lowest Degree of Working/Obedience Intelligence,0.00,81,100,Chow Chow,19,22,45,55,21,50
118,Bulldog,Lowest Degree of Working/Obedience Intelligence,0.00,81,100,Bulldog,12,16,50,60,14,55
119,Basenji,Lowest Degree of Working/Obedience Intelligence,0.00,81,100,Basenji,17,17,20,22,17,21
120,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,0.00,81,100,Afghan Hound,25,27,50,60,26,55